footer{
    background-color:hsla(120, 60%, 30%, 1) ;
}

.table , th{
    border-collapse: collapse;
    
   
    width: 100%;
}

.table{
    background-color: hsla(100, 80%, 40%, 1);
    border: hsla(30, 60%, 30%, 1) 2px solid;
    border-radius: 20px hsla(30, 60%, 30%, 1)  solid;
}
