footer{
    background-color:hsla(120, 60%, 30%, 1) ;
}

.text{
        
        border : 2px solid brown;
        border-radius: 20px;
        border-style: groove;
        width: 100%;
        color: brown;
        background-color: white
    }

    .content{
        background-color: hsla(100, 80%, 40%, 1);

    }


.h1{
      font-family:  "Verdana", "Helvetica", "sans-serif";
    }

    body{
    background-color: hsla(120, 60%, 30%, 1);
}

.header{
    background-color: hsla(100, 80%, 40%, 1); /* Darker Blue */;
    border: hsla(30, 60%, 30%, 1) 2px solid;
   }

   .text{
    font: Georgia;
   }
